.header_liste_menu {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B3BAC1;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #8C8E90;
}

.header_liste_menu button {
    padding: 16px 18px;
    border-radius: 25px;
    background-color: #C6C7C8;
}
