.mokeup_1_page_1{
    background-color: rgb(168, 165, 165);
}

.text_H1_Firstpage {
    font-family: GTEestiProDisplay, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: normal;
    color: white;
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-align: center;
}

Imgtel1 {
    
}