/* body */ 

img {
    height: 50px;
    padding-top: 10px;
    padding-left:20px;
    vertical-align: middle;
}


p {
    margin: 0 0 10px;
    size: 50px;
}


/* citation */

.part_1{
      background-color: #0099cc;
      
  }

  .citation{
      
    text-align : center;
}

hr{
    width:65% ;
}


.cit{
    padding-bottom: 20px;
   }

   /* fin citation */

   /* description */ 
   .part_2{
    background-color: #ff5050;
}


.flex-container {
    color: white;
    display: flex;
  }

   .appli{
    height: 500px;
    padding-top: 10px;
    padding-left:20px;

  }


 li{
    font-size: 25px;
  }

 

  @media screen and (max-width: 640px) {
    body{
        overflow: none;
    }
  }
 
 
 
